:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --background-accent: #2f303a;
  --title-color: #212121;
  --logo-decoration: #000000;
  --text-description: #757575;
  --white-accent: #ffffff;
  --background-masters: #f5f4fa;
  --footer-link: rgba(255, 255, 255, 0.6);
}
body {
  font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* ============= COMPONENTS ============= */

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.logo-link {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.current:visited {
  color: var(--accent-color);
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.logo-dark {
  font-family: var(--secondary-font);
  color: var(--logo-decoration);
}

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-color);
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.contact-link-header {
  text-decoration: none;
  color: var(--text-description);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-link-header:hover,
.contact-link-header:focus {
  color: var(--accent-color);
}
/* ============= END HEADER ============= */

/* ============= HERO ============= */
.hero {
  background-color: var(--background-accent);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-accent);
}

.modal-btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-accent);
}

/* ============= END HERO ============= */

/* ============= ADVANTAGE ============= */

.advantages-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
}
.advantages-list-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-description);
}

/* ============= END ADVANTAGE ============= */

/* ============= SELECTION MASTERS ============= */

.masters {
  background-color: var(--background-masters);
}

.masters-list-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.masters-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--text-description);
}

/* ============= END SELECTION MASTERS ============= */

/* ============= BODY ============= */

.btn-selection {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  background: var(--background-masters);
  border-radius: 4px;
  color: var(--title-color);
}

.btn-selection:hover,
.btn-selection:focus {
  background-color: var(--accent-color);
  color: var(--white-accent);
}
.gallery-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.gallery-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-description);
}

/* ============= BODY ============= */

/* ============= FOOTER ============= */

.footer {
  background-color: var(--background-accent);
}

.logo-white {
  font-family: var(--secondary-font);
  color: var(--white-accent);
}

.contact-link-footer {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--footer-link);
}

.location {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--white-accent);
}

/* ============= END FOOTER ============= */
